<html>
<head>
    <title>Admin Page</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<h1>Admin Page</h1>

<p>A simple admin page to get all projects along with its issues.</p>
</body>
</html>